<ion-view title="Add Friends">

	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ui-sref="tab.nearby">Add</button>
	</ion-nav-buttons>

    <ion-content class="has-header has-footer" scroll="true" has-bouncing="true">
		<div class="padding">
			<p>Welcome to Wingman! Add friends to make your experience that much better.</p>
			<div class="bar bar-header item-input-inset">
				<label class="item-input-wrapper">
					<i class="icon ion-ios7-search placeholder-icon"></i>
					<input type="search" placeholder="Search">
				</label>
				<button class="button button-clear">
					Cancel
				</button>
			</div>
		</div>

		<ul class="list">

			<li ng-repeat="friend in friends" class="item item-avatar item-checkbox item-heading-only" href="#">
				<img ng-src="{{friend.avatar}}" />
				<h2>{{friend.firstName}} {{friend.lastName}}</h2>

				<label class="checkbox has-offstate">
					<input type="checkbox">
					<i class="icon ion-plus"></i>
				</label>
			</li>

		</ul>

    </ion-content>

	<div class="bar bar-footer button-full ">
		<button class="button  button-dark">
			Deselect All
		</button>
	</div>


</ion-view>