<ion-view title="">

    <ion-nav-buttons side="left">
        <button class="button button-clear" ui-sref="^.signIn">Cancel</button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive" ui-sref="front">Recover</button>
    </ion-nav-buttons>

    <ion-content class="has-header padding" has-bouncing="true">
        <p>Enter your email address to recover your password.</p>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" placeholder="Email Address">
            </label>
        </div>
        <button class="button button-block button-positive button-large" ui-sref="front">
            Recover Password
        </button>
    </ion-content>
</ion-view>