<ion-view title="">

    <ion-nav-buttons side="left">
        <button class="button button-clear" ui-sref="front">Cancel</button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive" ui-sref="tab.nearby">Sign In</button>
    </ion-nav-buttons>

    <ion-content class="has-header padding" has-bouncing="true">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" placeholder="Email Address">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password">
            </label>
        </div>
        <button class="button button-block button-positive button-large" ui-sref="tab.nearby">
            Sign In
        </button>
		<p class="text-center">
			<a ui-sref="^.recoverPassword">Forgot Password?</a>
		</p>
    </ion-content>
</ion-view>