<ion-view title="Search" hide-back-button="true">

	<ion-content class="has-header" scroll="true" has-bouncing="true">


		<div class="bar bar-header item-input-inset">
			<button class="button button-positive button-swap">
				Sort
			</button>
			<label class="item-input-wrapper">
				<i class="icon ion-ios7-search placeholder-icon"></i>
				<form>
					<input type="search" placeholder="Search" ng-model="searchString">
				</form>
			</label>

			<button class="button button-positive button-swap" ui-sref="^.list" nav-transition="none">
				List
			</button>
		</div>
		Map</ion-content>
</ion-view>