<ion-view title="Add Friends">

	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ui-sref="^.addFriends">Add</button>
	</ion-nav-buttons>

    <ion-content class="has-header has-footer padding" scroll="true" has-bouncing="true">
        <p>Welcome to Wingman! Add friends to make your experience that much better.</p>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-clear">
                Cancel
            </button>
        </div>

		<ul class="list">

			<li class="item item-checkbox" href="#">
				<h2>Venkman Venkman</h2>

				<label class="checkbox">
					<input type="checkbox">
				</label>
			</li>

			<li class="item item-checkbox" href="#">
				<h2>Venkman Venkman</h2>

				<label class="checkbox">
					<input type="checkbox">
				</label>
			</li>

			<li class="item item-checkbox" href="#">
				<h2>Venkman Venkman</h2>

				<label class="checkbox">
					<input type="checkbox">
				</label>
			</li>

			<li class="item item-checkbox" href="#">
				<h2>Venkman Venkman</h2>

				<label class="checkbox">
					<input type="checkbox">
				</label>
			</li>

			<li class="item item-checkbox" href="#">
				<h2>Venkman Venkman</h2>

				<label class="checkbox">
					<input type="checkbox">
				</label>
			</li>

			<li class="item item-checkbox" href="#">
				<h2>Venkman Venkman</h2>

				<label class="checkbox">
					<input type="checkbox">
				</label>
			</li>

			<li class="item item-checkbox" href="#">
				<h2>Venkman Venkman</h2>

				<label class="checkbox">
					<input type="checkbox">
				</label>
			</li>

			<li class="item item-checkbox" href="#">
				<h2>Venkman Venkman</h2>

				<label class="checkbox">
					<input type="checkbox">
				</label>
			</li>

			<li class="item item-checkbox" href="#">
				<h2>Venkman Venkman</h2>

				<label class="checkbox">
					<input type="checkbox">
				</label>
			</li>

		</ul>

    </ion-content>

	<div class="bar bar-footer button-full ">
		<button class="button  button-dark">
			Deselect All
		</button>
	</div>


</ion-view>