<ion-view title="Sign In">
    <ion-content scroll="false" class="padding full-height">

            <div class="">
                <img src="img/logo.png" id="logo" />
            </div>

            <div class="">
                <button class="button button-block button-positive" ui-sref="newAccount.addPassword">
                    <i class="icon ion-social-facebook" ></i>&nbsp; Sign Up with Facebook
                </button>

                <div class="text-center">
                    <small>
                        Don't worry, we won't post anything to Facebook without your permission.
                    </small>
                </div>
            </div>

            <div class="">
                <div class="text-center">
                    Already have a Wingman account?
                </div>

                <button class="button button-block button-stable">
                    Sign In
                </button>
            </div>

    </ion-content>
</ion-view>
