
.list .item.item-avatar.item-checkbox {
  padding-left: 72px;

  img {
    top: 50%;
    margin-top: -20px;
  }
  label.checkbox {
    left: initial;
  }

  p {
    margin-bottom: 0;
  }
}

.list.card {
  box-shadow: 0 1px 150px rgba(0, 0, 0, 0.1);
}

.item.item-avatar.item-heading-only {
  h2 {
    margin-top: 9px;
  }
}
.item-checkbox label.checkbox {

  &.has-offstate input:before {
    transition: 200ms ease-in;
    background: none;
  }

  &.has-offstate input:checked:before {
    background: $positive;
  }

  i.icon {
    position: absolute;
    top: 8px;
    left: 14px;
    font-size: 19px;
    z-index: -1;
    color: $positive;
  }
}

.item.item-icon-left.item-icon-right {
  padding-right: 20px;

  i:last-child {
    float: right;
  }
}

/* For all things that have BOTH item and item-background-top classes. */

.item.item-no-padding {
  padding: 0;

  p {
    margin-bottom: 2px;
  }
}